
/* For Mobile from 502 to 727px   */

@media only screen and (max-width: 727px) {
    body{ font-size: 15px; }
    section { padding: 30px 0;}
    .row{ width: 100%;
          padding: 0 4%;
    }
    .hero-text-box{ 
        padding: 0 4%;
        width: 100%;
        font-size: 90%;            
    }
    .nav-logo{ 
        height: 120px;
        width: auto; }
    
    .main-nav{display: none;} 
    .mobile-nav-icon{ display: inline-block;}
    
    .main-nav{
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        border: 0;
        display: block;
        padding: 7px 0;
        font-size: 100%;
    }
    
    
    .sticky .main-nav{ margin-top: 10px;}


    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 7px 0;}
    .sticky .mobile-nav-icon i{ color: #555;}
    .sticky .mobile-nav-icon { margin-top: 10px;}
    
    h1{ 
         font-size: 150%;
        margin-bottom: 10px;
    }
     h2{ font-size: 120%;} 
    h3{ margin: 0; }
    
    .btn:link,
    .btn:visited{
    margin-left: 38%;
    margin-top: 7%;
}
    

    
    .col{width: 100%;}
    
    .sec-p{
    font-size: 88%;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: 25px;
    line-height: 100%;
    font-weight: 400;
    
}

    .sec-i{
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
    .icon-big{
        display: none;
    }
    
    .icon-small{
         width: 20px;
        font-size: 80%;
        margin-right: 0px;
    }
    
    .city-feature{ 
        margin-left: 2px;
        font-size: 75%;
        margin-bottom: 5px;
    }
    
    .box-p img{
    width: 35%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 68px;
}
    
    .contact{
        margin-left: 50px;
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 85%;
}

    footer{
    padding: 20px;
    font-size: 60%;
}
    
    
    
    .footer-nav li{
    margin-right: 2px;
}
    .social-links li{
        margin-right: 6px;
    }
    
    footer p{
    margin-top: 10px;
}

    
}

/* for mobile */
@media only screen and (max-width: 501px) {
    body{ font-size: 15px; }
    section { padding: 30px 0;}
    .row{ width: 100%;
          padding: 0 4%;
    }
    .hero-text-box{ 
        padding: 0 4%;
        width: 100%;
        font-size: 90%;            
    }
    .nav-logo{ 
        height: 120px;
        width: auto; }
    
    .main-nav{display: none;} 
    .mobile-nav-icon{ display: inline-block;}
    
    .main-nav{
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link,
    .main-nav li a:visited{
        border: 0;
        display: block;
        padding: 7px 0;
        font-size: 100%;
    }
    
    
    .sticky .main-nav{ margin-top: 10px;}


    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited{ padding: 7px 0;}
    .sticky .mobile-nav-icon i{ color: #555;}
    .sticky .mobile-nav-icon { margin-top: 10px;}
    
    h1{ 
         font-size: 150%;
        margin-bottom: 10px;
    }
     h2{ font-size: 120%;} 
    h3{ margin: 0; }
    
    .btn:link,
    .btn:visited{
    margin-left: 33%;
    margin-top: 7%;
}
    

    
    .col{width: 100%;}
    
    .sec-p{
    font-size: 75%;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding-top: 0;
    margin-top: 0;
    line-height: 100%;
    font-weight: 400;
    
}

    .sec-i{
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
    
    .icon-big{
        display: none;
    }
    
    .icon-small{
         width: 20px;
        font-size: 80%;
        margin-right: 0px;
    }
    
    .city-feature{ 
        margin-left: 2px;
        font-size: 75%;
        margin-bottom: 5px;
    }
    
    .box-p img{
    width: 35%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 50px;
}
    
    .contact{
        margin-left: 50px;
        margin-bottom: 0px;
        margin-top: 5px;
        font-size: 85%;
}

    footer{
    padding: 20px;
    font-size: 60%;
}
    
    
    
    .footer-nav li{
    margin-right: 2px;
}
    .social-links li{
        margin-right: 6px;
    }
    
    footer p{
    margin-top: 10px;
}

    
}